
<h2 class="ms-3" id="booksChapters">Book Chapters:</h2>
<ol>
    <li class="presentation">Praveena T, Nagaraja G.S, “Study on Social-sine Cosine Algorithm-based Cross Layer Resource Allocation in Wireless Networks”, Recent Advances in Mathematical Research and Computer Science Vol. 1, pp.41-55, October, 2021. (Springer)
    </li>
    <li class="presentation">Vanishree K, Nagaraja G.S., “Novel secure for On-Field Sensors for Data Aggregation in precision Agriculture”, Software Engineering and Algorithms, pp.426-436, July-2021. (Springer).

    </li><li class="presentation">SeshaKalyur, Nagaraja G.S", A Taxonomy of Methods and Models used in Program Transformation and Parallelization", Ubiquitous Communications and Network Computing, 2019(Springer- link-Scopus).
    </li><li class="presentation">Hamsha K, Nagaraja G.S, " Threshold Cryptography based Light Weight Key management Technique for Hierarchical WSNs", Ubiquitous Communications and Network  2019” (Springer-Link-Scopus).

    </li><li class="presentation">Nagaraja G.S, Shreyas Srinath, "Security Architecture for IOT based home automation", Smart Innovation, Systems and Technologies, Springer.

    </li><li class="presentation">Nagaraja G.S, Anjan K Koundinya, Thippeswamy G, Vinay V Hegde  " Spatial Data Infrastructures for Urban Governance using High Performance Computing for Smart City Applications ", Smart Innovation, Systems and Technologies, 978-981-32-9689-3, Springer..

    </li><li class="presentation">Nagaraja G.S, Anjan K Koundinya, Thippeswamy G, Mahesh G, Vinay V Hegde  " VoIP Smart speech encoding mechanism using high performance computing, Smart Innovation, Systems and Technologies, 978-981-32-9689-3,Springer.

    </li>
</ol>


