
<h2 class="ms-3" id="internationalJournal">International Journals:</h2>
<ol>
    <li class="presentation">Nagaraja G.S, Vivek B.A, “High-Speed Networks for Information Communication Technologies for Disaster Recovery Operations”, International Journal for Research in Applied Science & Engineering Technology (IJRASET)ISSN:2321-9653, pp.955-963, Volume 11 Issue V May 2023.

    </li>
    <li class="presentation">Vanishree K, Nagaraja G.S, “Framework modelling for effective precision agriculture using predictive analytics”, Jilin Daxue Xuebao (Gongxueban)/Journal of Jilin University (Engineering and Technology Edition) ISSN：1671-5497, Vol: 42 Issue: 02-2023, pp.245-256, Feb-2023.

    </li>
    <li class="presentation">Vanishree K, Nagaraja G.S, “Lora based smart agriculture monitoring and automated irrigation system”, Jilin Daxue Xuebao (Gongxueban)/Journal of Jilin University (Engineering and Technology Edition) ISSN：1671-5497, Vol: 42, pp.199-208, Feb-2023

    </li>
    <li class="presentation">Vanishree K, Nagaraja G.S, “Novel Framework for Secure Data Aggregation in Precision Agriculture with Extensive Energy Efficiency”, Hindawi Journal of Computer Networks and Communications, Vol.2023, pp.01-11, Feb 2023.

    </li>
    <li class="presentation">Sukrutha C Basappa, Nagaraja G S, “Accessory authentication on NFC enabled product using three pass AES algorithm”, International Research Journal of Engineering and Technology (IRJET)”, Volume: 09 Issue: 06 , pp. 2905-2909, Jun 2022.

    </li>
    <li class="presentation">Shankaramma, Nagaraja G.S, “Iot based sensors in smart city applications “, “The Seybold Report “, Vol.17, DOI 10.5281/zenodo.6801217, pp.2075-2083, July 2022.

    </li>
    <li class="presentation">Pavan K R, Dr. Nagaraja G.S, “Mocking upstream services”, Gradiva review journal”, issn no : 0363-8057, volume 8 issue 7 July- 2022,

    </li>
    <li class="presentation">G. S. Nagaraja, Kruthi P.R., Shivani Deshpande, “Exploratory Data Analysis of Network Traffic”, International Journal of Innovative Science and Research Technology”, Volume 7, Issue 7, ISSN No:-2456-2165, pp.1690-1693, July – 2022.

    </li>
    <li class="presentation">Varsha T, Shrihari, Dr. Nagaraja, “IoT based a Smart Home Automation System Using PacketTracer”, International Journal for Research in Applied Science & Engineering Technology (IJRASET), Volume 11 Issue I pp.1-5, Jan 2023,

    </li>
    <li class="presentation">Vijay Raj, Namita Bilagi, G S Nagaraja,  “International Research Journal of Engineering and Technology (IRJET)”, Volume: 10 Issue: 01, pp.95-99, Jan 2023

    </li>
    <li class="presentation">Shankaramma, Nagaraj G.S, “Survey on WSN Network lifetime Through Leach Clustering Schemes”, International Journal of Engineering an 1-5d Advanced Technology (IJEAT) ISSN: 2249-8958 (Online), Volume-11 Issue-3, February-2022. 

    </li>
    <li class="presentation">Shankaramma, Supreetha H V, Nagaraj G S, “Analysis of Air Traffic Management Models”, International Journal of Innovative Technology and Exploring Engineering (IJITEE) ISSN: 2278-3075 (Online), Volume-11 Issue-3, January 2022. (Scopus)

    </li>
    <li class="presentation">H C Shanthakumar, G S Nagaraja, Mustafa Basthikodi, “System for Fusion of Face and Speech Modalities Using DTCWT+QFT and MFCC+RASTA Techniques”, Indian journal of science and technology, Vol.14, Issue-42, pp. 3144–3156, Dec-2021 (WoS).

    </li>
    <li class="presentation">Jayesh Kumar Yadav1, Nagaraja G. S, “Test Automation Framework for Content Delivery Network”, International Journal of Computer Sciences and Engineering Open Access, Vol.-9, Issue-6, June 2021, pp.1-4. (SCOPUS)

    </li>
    <li class="presentation">Khushi Talesra, Nagaraja G.S, “Low-Code Platform for Application Development”, International Journal of Applied Engineering Research ISSN 0973-4562 Volume 16, Number 5 (2021) pp. 346-35.( (SCOPUS)

    </li>
    <li class="presentation">Rahul Pandurang Pokale1, Nagaraja G.S., “ Automation Tool For Customer Relationship Management Applications” International Journal of Computer Sciences and Engineering Open Access, Vol.-9, Issue-6, June 2021, pp.33-36. (SCOPUS)

    </li>
    <li class="presentation">Ruchita R Biradar, Nagaraja G.S,” Anomalous Traffic Detection System for Enterprise using Elastic stack with Machine Learning”, International Journal of Computer Sciences and Engineering Open Access,Vol.-9, Issue-6, June 2021, pp. 13-18. ((SCOPUS)

    </li>
    <li class="presentation">Anusha L, Nagaraja G.S, “ Mobile Cloud Computing Provides Service Availability using A Context Aware Architecture”, International Journal of Recent Technology and Engineering (IJRTE), Vol.10, Issue-1, May2021, pp.252-255. (SCOPUS)

    </li>
    <li class="presentation">Santhosh M S, Nagaraja G S, “A survey on different real time operating systems”, International Journal of Engineering and Advanced Technology (IJEAT) ISSN: 2249-8958, Volume-10 Issue-5, June 2021, pp. 21-24. ((SCOPUS)

    </li>
    <li class="presentation">Akshata Khasge, Nagaraja G S, “Securing Logs of Functional Testing Infrastructure by Masking Technique”, International Journal of Recent Technology and Engineering (IJRTE) ISSN: 2277-3878, Volume-10 Issue-1, May 2021,Vol.10, issue-1, pp.229-232. (SCOPUS)

    </li>
    <li class="presentation">Sesha Kalyur, Nagaraja G.S, “Inherent Parallelism and Speedup Estimation of Sequential Programs Annals of Emerging Technologies in Computing (AETiC), Vol. 5, No. 2, 2021 pp. 1-16. ((SCOPUS)

    </li>
    <li class="presentation">Anusha L, Nagaraja G.S, “A Survey on Core Self-Healing and 5G Network”, High Technology Letters, Volume 27, Issue 3, 2021, pp.179-184.

    </li>
    <li class="presentation">Akshatha Kashage, Nagaraja G.S, “Overview on data masking techniques”, High Technology Letters” Volume 27, Issue 3, 2021, pp.210-214.

    </li>
    <li class="presentation">Vanishree K, Nagaraja G.S, “Emerging Line of Research Approach in Precision Agriculture: An Insight Study (IJACSA) International Journal of Advanced Computer Science and Applications, Vol. 12, No. 2, 2021, PP.304-317. (WoS)

    </li>
    <li class="presentation">Shantha kumar H.C, Dr Nagaraja G.S, Multimodal biometric authentication system using face and voice features, Solid State TechnologyVol.63, Issue-6, Nov 2020, pp.15969-15987. (SCOPUS)

    </li>
    <li class="presentation">Shanthakumar H.C, Nagaraja G.S, “ Performance evolution of face and speech recognition system using dtcwt and mfcc features”, Turkish Journal of Computer and Mathematics Education, Vol.12 No.3,March 2021, pp.13395-3404. (SCOPUS)

    </li>
    <li class="presentation">Shreyas,  Nagaraja G.S , “An Evaluation of light weighted  Data security and authentication schemes for IoT devices High Technology Letters, Volume 26, Issue 11, pp 495-506, 2020.

    </li>
    <li class="presentation">Praveena T, Nagaraja G S, “Social-sine cosine algorithm-based cross layer resource allocation in wireless network”, International Journal of Electrical and Computer Engineering (IJECE), Vol-11, No.1 Feb-2021. (SCOPUS)

    </li>
    <li class="presentation">Tanuja K Patil, Nagaraja G S, “Evaluation of Supervised Learning Methods for Network Intrusion Detection”, International journal of Wutan Huatan Jisuan Jishu, Volume-16,issue-6,pp.495-502,June-2020 (Scopus)

    </li>
    <li class="presentation">Nagaraja G S, Shreyas Srinath, ReshmaJakabal’, “Air Pollution monitoring and Prediction System for Sustainable Metropolitan Cities using IoT”, ‘International Journal of Engineering and Advanced Technology (IJEAT)’, ISSN: 2249-8958 (Online), Volume-9 Issue-3, pp. 3308-3312, February 2020 (Scopus).

    </li>
    <li class="presentation">Manjunath G, Nagaraja G S, “Quality Assurance Metrics in Embedded System”, International Research Journal of Engineering and Technology (IRJET), Volume: 07 Issue: 05, pp.7547-7552, May 2020.

    </li>
    <li class="presentation">Ranjith G Hegde, Nagaraja G, “Low Latency Message Brokers”, International Research Journal of Engineering and Technology (IRJET), Volume: 07 Issue: 05 |pp.2731-2738, May 2020.

    </li>
    <li class="presentation">Saipraveen PN1, Nagaraja GS, “Parameter Tuning of Apache Spark based Applications for Performance Enhancement”, International Research Journal of Engineering and Technology (IRJET), Volume: 07 Issue: 05 |pp.3491-3495, May 2020.

    </li>
    <li class="presentation">Shashankgoud Patil, Nagaraja G.S, “Exploratory Data Analysis”, International Research Journal of Engineering and Technology (IRJET), Volume: 07 Issue: 05 |pp.6666-6673, May 2020.

    </li>
    <li class="presentation">Sherine George, Nagaraja G.S, “Automated Framework for API Testing”, International Research Journal of Engineering and Technology (IRJET), Volume: 07 Issue: 05, pp.642-644, May 2020.

    </li>
    <li class="presentation">Manjula Gururaj H, Dr. Nagaraja G.S “Multimodal Integrated Technique for Wrist Fracture Identification”-International Journal of Innovative Technology and Exploring Engineering(TM) (IJITEE) Volume-9 Issue-9 July 2020.

    </li>
    <li class="presentation">ManjulaGururajRao H, Nagaraja G.S, “Detection and Identification of the Wrist Fracture Using the Blob Analysis Technique”, IJAST, vol. 29, no. 3, pp. 9815, Jun. 2020 (Scopus).

    </li>
    <li class="presentation">Praveena T, Nagaraja  G S , “Implementation of MAX-SNR Opportunistic Scheduling in Cross Layer Design”, International Journal of Engineering and Advanced Technology , Vol-9 Issue-1, PP.4491-4496-October 2019. (Scopus)

    </li>
    <li class="presentation">Parsa Swetha, G.S Nagaraja, Prasad Vasa, "Testing Mobile Application part (MAP) using MAP simulator tool in a mobile communication testing laboratory", International Journal of advanced research areas and innovations in technology, Vol-5, Issue-3, May-2019.

    </li>
    <li class="presentation">Manjunath C.R, G.S. Nagaraja, “Multicast routing for mesh-based using DSR in wireless sensor network”, International Journal of Engineering and Technology, Vol.7, pp.173-176, September, 2018 (Scopus).

    </li>
    <li class="presentation">Vinay Kumar H.V, Vijay D, Nagaraja G.S, Mamatha T, “Intelligent download mechanism for  non downloaded content”, International Journal of Latest trends in Engineering and Technology, Vol.10, Issue-2, pp-140-142,  May 2018.

    </li>
    <li class="presentation">AmrutHunashyal, G.S Nagaraja, “Origination System to Scrutinize Loan Applications”, International Journal of Engineering Research and technology(IJERT), Vol.7, Issue 03, pp.128-130, March-2018, ISSN:2278-0181.

    </li>
    <li class="presentation">Nagaraja G.S, Abhilash, Somasamudramath, Ganne Sai Gokul, Trisha Venkatesh,” Self-Healing Software Defined networks”,  “ International Journal of Trend in Research and Development”, Vol.5(1), ISSN2394-9333, pp.259-261, Feb-2018

    </li>
    <li class="presentation">Sreevidya R.C, Nagaraja G.S, “Cluster based sleep scheduling mechanism for wireless sensor networks”, International journal of theoretical and applied information technology, Vol-95, no.8,pp.1737-1743,issn:1992-8645, 30th April-2017.

    </li>
    <li class="presentation">Nagaraja G S, Shriya P B , Neha Marla , Shubham Ghosh , Srishti Jha , “Automation detection, Localiation and Classification mission for unmanned aerial vehicles”,   International journal  for research in applied science and engineering technology(IJRASET), Vol5, issue-3, March -2017, pp.350-355.

    </li>
    <li class="presentation">ManjulaGururaj Rao H, Dr. G. S. Nagaraja, "Content Based Medial image Retrieval- a survey”, International Journal of computer science and engineering, Vol-4, issue-4, pp.1-4, June- 2016.

    </li>
    <li class="presentation">ManjulaGururaj H, Dr. G. S. Nagaraja, "Content Based image Retrieval- Bone age assessment”, International Journal of science and research, Vol-5, issue-5, pp.994-997, May- 2016.

    </li>
    <li class="presentation">Praveen T, Nagaraja G S, “A survey on Cross layer scheduling and resources allocation in wireless networks”, International journal of engineering trends and applications (IJETA), Vol.2, issue-3, pp. 61-66 May-June, 2015.

    </li>
    <li class="presentation">G.S. Nagaraja, Ramesh B, Divya K.S, “Implementation of content based video retrieval in multimedia applications using histogram difference”, International journal of innovative technology and research, ISSN: 2320-5547, Vol.4 pp. 185-188, April 2015.

    </li>
    <li class="presentation">Nityaraviprakash, Megghasuresh, Asmitharathis, Divijadevaria, Aakanksha Yadav, Nagaraja G.S, “Shot segmentation for content based video retrieval”, International journal of innovative technology and research, ISSN:2320-5547, Vol.4 pp. 74-77, April 2015.

    </li>
    <li class="presentation">Mushtaq Ahmed M, PremChander Rao T, Nagaraja G.S, “Extended display mode using android Miracast”, International journal of innovative technology and research, ISSN: 2320-5547, Vol.4 pp. 84-86, April 2015.

    </li>
    <li class="presentation">Manjunath CR, Afrin, Nagaraja G.S, “Efficient QoS routing approaches in wireless sensor network: A survey”, International journal of emerging technology in computer science and electronics (IJETCSE) ISSN: 0976-1353, Vol.14, issue2-April 2015.

    </li>
    <li class="presentation">SeshaKalyur, Nagaraja G.S, “Image Digest III: A nearest neighbor differential based image digest generation algorithm”, International journal of innovative technology and research, ISSN: 2320-5547, Vol.4 pp. 1-4, April 2015.

    </li>
    <li class="presentation">G.S. Nagaraja, Rajashekar Murthy S, Divya K.S, “A Survey on Content Based Video Retrieval Systems”, International journal of Advance research in computer science and software engineering, March 2015.

    </li>
    <li class="presentation">Sreevidya R.C, Nagaraja G.S, “Improved efficient energy protocol using clustering in wireless  sensor networks(IEEP)”, International journal of scientific and engineering research, VOL.6, Issue.1, pp.753-755, January 2015.

    </li>
    <li class="presentation">VishalakshiPrabhu H, G.S.Nagaraja, “ Survey,classifiucation and future direction for packet scheduling in 4G networks to provide quality of service.” International journal of research in Computer and communication technology, Vol.3, Issue10, pp.2320-5156, October, 2014.

    </li>
    <li class="presentation">Hamsha, Nagaraja G.S “A secure cluster based communication in wireless networks using cryptographic reports”, International journal of network security and its applications, Vol.6, No.5, pp. 51-62, September 2014.

    </li>
    <li class="presentation">SheshaKalyur, G.S. Nagaraja, “ Image digest II: A region sensitive image digest generation algorithm”, International journal of recent advances in  engineering and technology, Vol.2,  Issue 6, pp. 2347-2812, September 2014.

    </li>
    <li class="presentation">VishalakshiPrabhu H, G.S.Nagaraja, “A survey on quality of service provision in 4G wireless networks”,SheshaKalyur, G.S. Nagaraja, in computer and communication engineering,Vol.3, issue.7, pp.3214-3219, July 2014.

    </li>
    <li class="presentation">SheshaKalyur, G.S. Nagaraja, “Loch-Ness: A Lock free method using virtual memory page table entry mechanism”, International journal of emerging technology and advanced engineering, Vol.4, issue7, pp. 943-946, July2014.

    </li>
    <li class="presentation">VinayakKwari, G.S. Nagaraja, Swethambari L Kant, “SIP-TLS for IOS based SIP clients in enterprise networks to support custom CAs”, International journal of scientific and engineering research, Vol. 5, issue 6, pp.533-537 June 2014.
   
</ol>

