<h2 class="ms-3 mt-2" id="internationalConfrences">International Conferences:</h2>
<ol>
    <li class="presentation">
        Dr. Nagaraja G S1, B Mithra Varun , P V Koundinya, Yashas M S, “Prediction of Diabetes Risk based on Machine Learning Algorithms”, International Conference on Artificial Intelligence and Machine Learning in Applied Biotechnology (AIML BIO), 8-10 Dec 2022, RVCE, Bangalore, India
    </li>
    <li class="presentation">
        Vanishree K, Kedar Bhandarkar, Sudhanva T Manur, Syed Farhan, Leela Ganesh, Dr. G S Nagaraja, “LoRa based Smart Agriculture Monitoring and Automated Irrigation System”, International Conference on Artificial Intelligence and Machine Learning in Applied Biotechnology (AIML BIO), 8-10 Dec 2022, RVCE, Bangalore, India.
    </li>
    <li class="presentation">
        Amit Kumar Singh, Nagarathna H, Laxmi, R Varsha Bantia, Kirti Gangadhar Himbandi, Vanishree K, Dr. G S Nagaraja , “Home Automation using Internet of Things”, International Conference on Artificial Intelligence and Machine Learning in Applied Biotechnology (AIML BIO), 8-10 Dec 2022, RVCE, Bangalore, India.
    </li>
    <li class="presentation">
        Vanishree K, Dr. Nagaraja G S, “Framework Modelling for Effective Precision Agriculture using Predictive Analytics”, International Conference on Artificial Intelligence and Machine Learning in Applied Biotechnology (AIML BIO), 8-10 Dec 2022, RVCE, Bangalore, India.
    </li>
    <li class="presentation">
        G S Nagaraja, Santosh N, Pooja J S, “Phishing URL Detection using Machine Learning”, International Conference on Artificial Intelligence and Machine Learning in Applied Biotechnology (AIMLBIO), 8-10 Dec 2022, RVCE, Bangalore, India.
    </li>
    <li class="presentation">
        Reshma Jakabal, Dr. Nagaraja G S, “A Solution for Prediction and Tracking of Alzheimer Disease using Secure and Energy Efficient Internet of-Things”, 4th International Conference on Cybernetics, Cognition and Machine Learning Application (ICCCMLA), IEEE Conference #56841  held in Goa from 8th - 9th October 2022, India.
    </li>
    <li class="presentation">
        Prof. Vanishree K, Nidhi H Halappanavar, Suraj Rajshekhar Mukkannavar, N M Nishant, Nagraja G S, “Comparative study of Machine learning Approaches on Cropland Mapping” 6th International Conference on CSITSS-2022 @ RVCE, 16-18th December, 2022, India.
    </li>
    <li class="presentation">
        Shankaramma, Nagaraja G.S, “Methods of Storage Intrusion Mitigation with Data transport Security Tunnels”, 7th International Conference on Microelectronics, Computing & Communication Systems (MCCS-2022), Jharkhand, India during July. 9 -10th , 2022.
    </li>
    <li class="presentation">
        Shreyas Srinath, Nagaraja G S, Ramesh Shahabadkar, “ A detailed analysis of lightweight Cryptographic techniques on Internet-of-Things”, 5th Edition IEEE International Conference on  Computational Systems and Information Technology for Sustainable Solution(CSITSS-2021), 16-18 December-2021, pp.155-160.
    </li>
    <li class="presentation">
        Mahesh Subray Hegde, Sukrutha C Basappa, Nagaraja G.S, “ Smart dry and wet waste management using IoT”, 5th Edition IEEE International Conference on  Computational Systems and Information Technology for Sustainable Solution(CSITSS-2021), 16-18 December-2021, pp.230-233.<br>
(ICATIECE- Dayanda Sagar Academy of Technology & Management,19th and 20th March-2019(IEEE).
    </li>
    <li class="presentation">
        SeshaKalyur, Nagaraja G.S", A Taxonomy of Methods and Models used in Program Transformation and Parallelization", 2nd EAI International Conference on " Ubiquitous Communications and Network Computing", UBICNET, Feb 8-10, 2019, Bangalore, India. 2019 (Springer).
    </li>
    <li class="presentation">
        Hamsha K, Nagaraja G.S, " Threshold Cryptography based Light Weight Key management Technique for Hierarchical WSNs",2nd EAI International Conference on " Ubiquitous Communications and Network Computing, UBICNET, Feb 8-10, 2019, Bangalore, India. 2019 (Springer).
    </li>
    <li class="presentation">
        Nagaraja G.S, Shreyas Srinath, " Security Architecture for IOT based home automation",  Third International Conference on Smart Computing and Informatics, Kalinga Institute of Industrial Technology (KIIT),Bhubaneswar-24, Odisha, 21-22, Dec -2018- Springer.
    </li>
    <li class="presentation">
        Nagaraja G.S, Anjan K Koundinya, Thippeswamy G, Vinay V Hegde  " Spatial Data Infrastructures for Urban Governance using High Performance Computing for Smart City Applications ",Third International Conference on Smart Computing and Informatics, Kalinga Institute of Industrial Technology (KIIT),Bhubaneswar-24, Odisha, 21-22, Dec -2018- Springer.
    </li>
    <li class="presentation">
        Nagaraja G.S, Anjan K Koundinya, Thippeswamy G, Mahesh G, Vinay V Hegde  " VoIP Smart speech encoding mechanism using high performance computing",  Third International Conference on Smart Computing and Informatics, Kalinga Institute of Industrial Technology (KIIT),Bhubaneswar-24, Odisha, 21-22, Dec -2018- Springer.
    </li>
    <li class="presentation">
        Sreevidya R.C, G.S. Nagaraja, “Secure Multicast Routing for Wireless Sensor Networks using ACO-AODV with DHKE Cryptosystem",  2nd International Conference on Computing Methodologies and Communication (ICCMC 2018) , Feb 15-16 2018 at Surya Engineering college Chennai-IEEE.
    </li>
    <li class="presentation">
        Sreevidya R.C, G.S. Nagaraja, “Reliable Multicast Clustering Approach Based on K-Means Method for Wireless Sensor Networks”, 2018 second international conference on advances in electronics, computers and communications (ICAECC 2018),REVA University, Yelahanka, Bangalore, India, February 9-10, 2018, IEEE
    </li>
    <li class="presentation">
        Bhanuprakash P, Nagaraja G S, “ A review on Churn Prediction modeling in Telecom Environment”,  2nd International Conference on Computational Computational Systems and Information Technology for sustainable solutions (CSITSS-2017), Vol.2, pp-1-8, December, 2017, RVCE, Bengaluru, India.IEEE
    </li>
    <li class="presentation">
        U.K Madhura, P. Akshay, Akshay J Bhattad, G.S. Nagaraja “ Soil Quality management using Wireless SensorNetwork”, 2nd International Conference on Computational Computational Systems and Information Technology for sustainable solutions (CSITSS-2017), Vol.2, pp-108-112, December, 2017, RVCE, Bengaluru, India. IEEE
    </li>
    <li class="presentation">
        SeshaKalyur, G S. Nagaraja, “AIDE: An Interactive Environment for Program transformation and parallelization“, 2nd International Conference on Computational Computational Systems and Information Technology for sustainable solutions (CSITSS-2017), Vol.2, pp-199-203, December, 2017, RVCE, Bengaluru, India. IEEE
    </li>
    <li class="presentation">
        SeshaKalyur, G S. Nagaraja, “Concerto: A program parallelization, Orchestration and distribution infrastructure”, 2nd International Conference on Computational Computational Systems and Information Technology for sustainable solutions (CSITSS-2017), Vol.2, pp-204-209, December, 2017, RVCE, Bengaluru, India. IEEE
    </li>
    <li class="presentation">
        VishalakshiPrabhu H, Nagaraja G S, “Highest Urgency First Scheduling Adapted in IEEE 802.11n to Support Quality of Service”, IEEE International Conference on Recent Trends in Electronics Information Communication Technology, May 19-20, 2017, India. pp.1-5. IEEE
    </li>
    <li class="presentation">
        VishalakshiPrabhu H, Nagaraja G S, “Adaptive and Variable Backoff Algorithm forIEEE 802.16 to Render Quality of Service “,IEEE International Conference on Communication and signal processing, melmarvathur, April 6-8, 2017. IEEE
    </li>
    <li class="presentation">
        Hamsa K, Nagaraja G S,“Analysis of security mechanism using threshold cryptography for hierarchical wireless sensor networks”IEEE International Conference on Communication and signal processing, melmarvathur, April 6-8, 2017. IEEE
    </li>
    <li class="presentation">
        VishalakshiPrabhu H Nagaraja G S “Quality of Service Guaranteed Delay Sensitive Polling Algorithm for WiMaxNetwork:PQ_Poll”, IEEE International Conference, Feb-2017. IEEE
    </li>
    <li class="presentation">
        Manjunath CR, Nagaraja GS, “Efficient algorithms for multicast tree construction in randomly placed WSN”, International conference on current trends in Engg Science and  Technology (ICCTEST) PP.813-817, Grenze Scientific society, 5-6th,  Jan-2017 
    </li>
    <li class="presentation">
        SeshaKalyur, G S. Nagaraja,” ParaCite: Auto –paralleliation of a sequential program using the program dependence graph”, IEEE  International Conference  on 2016 CSITSS , pp.7-12, October 6-8th RVCE, Bengaluru. IEEE
    </li>
    <li class="presentation">
        SeshaKalyur, G.S. Nagaraja,”A Survey of Modeling Techniques used in Compiler Design and Implementation”, IEEE  International Conference  on 2016 CSITSS , pp.355-358, October 6-8th RVCE, Bengaluru. IEEE
    </li>
    <li class="presentation">
        Praveena T,  G.S. Nagaraja, Shashank C S, NiteshReddy, “A novel Scheduling  Algorithm Emphasizing Fairness for cross layer design in Wireless Networks”,  IEEE  International Conference  on 2016 CSITSS , pp.210-215, October 6-8th RVCE, Bengaluru. IEEE
    </li>
    <li class="presentation">
        Nityaraviprakash, Megghasuresh, Asmitharathis, Divijadevaria, Aakanksha Yadav, G.S Nagaraja “Moving object detection for Content based video retrieval”, IEEE International conference on Communication and signal processing, Vol.5, pp.272-275, April 6-8, 2016,Chennai,India. IEEE
    </li>
    <li class="presentation">
        G S Nagaraja, Rajashekara Murthy S, Deepak T S,  “ Content based video retrieval using support vector machine classification”, IEEE International conference on applied and theoretical computing and communication technology, October29-31st , pp.823-829, BIET, Davangere, 2015. IEEE
    </li>
    <li class="presentation">
        Manjunath C.R, Sindhu Ananda, G.S Nagaraja, “An Hybrid Secure Scheme for Secure Transmission in Grid Based Wireless Sensor Network”, IEEE International Advance Computing Conference (IACC), June 12th-13th, BMSCE, pp.472-475, 2015. IEEE
    </li>
</ol>












