<div class="bg-dark text-light p-3 m-0" >
    <div class="d-flex flex-row justify-content-between align-items-center">
        <div>
            <img src="https://rvce.edu.in/sites/default/files/logo_0.png"/>
        </div>
        <div class="text-end d-sm-block d-none">
            <h1>Skills Lab</h1>
            <h3>R.V. College Of Engineering</h3>
            <h6>Autonomous Institution affiliated to VTU, Belagavi
            </h6>
        </div>
        <div class="d-flex d-sm-none text-end">
            <h3>R.V. College<br>
                Of Engineering</h3>
        </div>
    </div>
</div>