{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "navbar.html" %}

<style>
  

    .presentation {
        
        margin: 30px;
        margin-top: 0px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
    }
    p {
        margin: 0;
    }
</style>

<nav class="navbar navbar-expand-md navbar-dark bg-black bg-opacity-50 ps-2" id="navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item px-4"><a class="nav-link text-white" href="{% url 'home' %}">Home</a></li>
            <li class="nav-item px-4"><a class="nav-link text-white" href="#internationalConfrences">International Confrences</a></li>
            <li class="nav-item px-4"><a class="nav-link text-white" href="#internationalJournal">International Journals</a></li>
            <li class="nav-item px-4"><a class="nav-link text-white" href="#booksChapters">Books Chapters</a></li>
        </ul>
    </div>
</nav>



{% include "internationalConfrence.html" %}
{% include "internationalJournal.html" %}
{% include "booksChapters.html" %}


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% endblock content %}
